<br>
<h2 style="text-align: center;">Our Story</h2>

<div class="container" style="text-align: justify;">
    <div>
        <p>When your goal is to change the way the country eats, you need all the help you can get. Pizzeria is an equal-opportunity employer offering competitive salaries, comprehensive health benefits and equity opportunities.</p>
        <p>With love and support from consumers, Pizzeria expanded far and wide, first through the entire city of Bengaluru and then across the entire country. As they say, the rest is history.</p>
        <p>Today, Pizzeria is the leading food ordering and delivery platform in India. The innovative technology, large and nimble delivery service, and exceptional consumer focus at Pizzeria enabled a host of benefits that includes lightning fast deliveries, live order tracking and no restrictions on order amount, all while having the pleasure of enjoying your favourite meal wherever you'd like it. </p>
        <br>
        <div>
              <table>
                  <tr>
                      <td style="text-align: justify; vertical-align: middle;">
                        <div >
                            <img src="../../assets/images/pizza1.jpeg" alt="pizza" class="left">
                             </div>
                      </td>
                      <td>
                        <h3 >Ingredients</h3>
                        <p style="vertical-align: middle;">We are ruthless about goodness. We have no qualms about tearing up a day-old lettuce leaf or steaming a baby carrot. Cut, Cut, Chop, chop, Steam, Steam, Stir, Stir. While they're still young and fresh - that's our motto.</p>
                      </td>
                  </tr>
                  <tr>
                    <td>
                        <h3>Our Chefs</h3>
                        <p>They make sauces sing and salads dance. They create magic with skill, knowledge, passion, and stirring spoons. They make goodness so good, it doesn't know what to do with itself. We do though. We send it to you.</p>
                      </td>
                      <td style="text-align: center; vertical-align: middle;">
                        <div >
                            <img src="../../assets/images/gordan.jpg" alt="pizza" class="right">
                        </div>
                      </td>
                      
                  </tr>
              <tr>
                  <td style="text-align: center; vertical-align: middle;">
                    <div >
                        <img src="../../assets/images/deli.jpg" alt="pizza" class="left">
                      </div>
                    </td>
                    <td>
                      <h3>45 min delivery</h3>
                      <p>We always strive to provide the fastest service. But cooking some fresh and delicious meal does take some time.</p>
                  </td>
              </tr>
              </table>
            
        </div>
    </div>
</div>
